<%- include('partials/header') %>
<div class="container">
    <div style="width:50%; margin: 75px auto">
        <h1 style="text-align: center;">Phone Book Web App</h1>
        <form class="input-group md-form form-sm form-2 pl-0" action="/phonebook/page/1">
            <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" name="search" aria-label="Search">
            <div class="input-group-append">
               <button class="btn" style="padding: 0;" type="submit" ><span style="height:36px;" class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search fa-lg text-grey" aria-hidden="true"></i></span></button>
            </div>
        </form>
        <% contacts.forEach(function(contact) { %>
        <div class="accordion md-accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo1">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%=contact._id%>"
                        aria-expanded="false" aria-controls="collapseTwo1">
                        <h5 class="mb-0 lead"><%=contact.name %><i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapse<%=contact._id%>" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                    data-parent="#accordion1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <i class="fa fa-calendar-alt"></i>
                                <h4 class="text-muted"><%=moment(contact.date).format('DD MMMM, YYYY'); %></h4>
                            </div>
                            <div class="col-md-4 text-center">
                                <a class=" btn btn-warning" href="/phonebook/<%=contact._id%>/edit"> Edit </a>
                                <form class="delete-form" action="/phonebook/<%=contact._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="img-thumbnail">
                            <div class="row">
                                <% contact.number.forEach(function(number){ %>
                                    <% if(number){%>
                                <div class="col-md-6 text-center">
                                    <i class="fa fa-phone-alt"></i> &emsp;
                                    <p class="mb-0"><%=number%></p>
                                </div>
                                <% } %>
                                <% }); %>
                            </div>
                            <div class="row">
                                <% contact.email.forEach(function(email){ %>
                                    <% if(email != '') { %>
                                <div class="col-md-6 text-center">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> &emsp;
                                    <p class="mb-0" style="display:inline;"><%=email%></p>
                                </div>
                                <% } %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        <% if (pages > 0) { %>
            <ul class="pagination" style="float: right; margin: 25px auto;">
                <% if (current == 1) { %>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/phonebook/page/1">1</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 3 : 2) %>
                <% if (i !== 2) { %>
                <li class="page-item"><a class="page-link">Previous</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 3) && i < pages; i++) { %>
                <% if (i == current) { %>
                <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/phonebook/page/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 3 && i < pages) { %>
                <li class="page-item"><a class="page-link">Next</a></li>
                <% } %>
                <% } %>
                <% if (pages != 1){ %>
                <% if (current == pages) { %>
                <li class="page-item active"><a class="page-link"><%= pages %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/phonebook/page/<%= pages %>"><%= pages %>
                </a></li>
                <% } %>
                <% } %>
            </ul>
            <% } %>
        <a href="/phonebook/new"><i class="fa fa-plus-circle fa-2x" style="float:right" aria-hidden="true"></i></a>
    </div>
</div>
<%- include('partials/footer') %>